<!DOCTYPE html>
<html>
  <head>
    <title>Base Rails</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>

      <nav>
      <ul>
        <% if session.fetch(:user_id) == nil %>
          <li>
            <a href = "/user_sign_up">Sign Up</a>
          </li>
          <li>
            <a href = "/user_sign_in">Sign In</a>
          </li>
        <% end %>
        <% if session.fetch(:user_id) != nil %>
          <li>
            <a href = "/user_sign_out">Sign Out</a>
          </li>
        <% end %>
        <li>
          <a href = "/users">Users</a>
        </li>   
        <li>
          <a href = "/alt_wallets">Alt Wallets</a>
        </li>   
        <% if session.fetch(:user_id) != nil %>
          <li>
            <a href = "/settings">Settings</a>
          </li>
        <% end %>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
